@font-face {
  font-family: "overpass-300";
  src: url("./assets/fonts/overpass-300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "overpass-600";
  src: url("./assets/fonts/overpass-600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "ubuntu-400";
  src: url("./assets/fonts/ubuntu-400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "ubuntu-500";
  src: url("./assets/fonts/ubuntu-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "ubuntu-700";
  src: url("./assets/fonts/ubuntu-700.woff2") format("woff2");
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
#root {
  /* Colors */
  /* Primary */
  --color-primary-red-500: hsl(356, 100%, 66%);
  --color-primary-red-400: hsl(355, 100%, 74%);
  --color-primary-blue-900: hsl(208, 49%, 24%);
  /* Neutral */
  --color-neutral-gray-600: hsl(207, 13%, 34%);
  --color-neutral-gray-900: hsl(240, 10%, 16%);
  --color-neutral-white: hsl(0, 100%, 100%);
  /* Gradient */
  --hero-background-gradient: hsl(13, 100%, 72%), hsl(353, 100%, 62%); /* orange-300 -> red-550 */
  --body-background-gradient: hsl(237, 17%, 21%), hsl(237, 23%, 31%); /* purple-950 -> purple-900 */
  /*  */
  --x-padding: 12vw;
  --font-family-overpass-300: "overpass-300", Arial, Helvetica, sans-serif;
  --font-family-overpass-600: "overpass-600", Arial, Helvetica, sans-serif;
  --font-family-ubuntu-400: "ubuntu-400", Arial, Helvetica, sans-serif;
  --font-family-ubuntu-500: "ubuntu-500", Arial, Helvetica, sans-serif;
  --font-family-ubuntu-700: "ubuntu-700", Arial, Helvetica, sans-serif;
}
/* Defaults/Resets */
html {
  font-size: 16px;
}
ul {
  list-style: none;
}
li,
.button {
  background: none;
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
/*  */
#root {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  color: var(--color-neutral-white);
  font-family: var(--font-family-ubuntu-400);
}
.header-hero-wrapper {
  position: relative;
  background: linear-gradient(to right, var(--hero-background-gradient));
  height: 80vh;
  border-bottom-left-radius: 5rem;
  padding: 3.5rem var(--x-padding);
}
.header-hero-bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/bg-pattern-intro-desktop.svg);
  background-position-x: 25%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 250%;
  border-bottom-left-radius: 5rem;
}
.header-hero-bg-pattern ~ *:not(.section-hero) {
  position: relative;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
}
.header-logo-dropdowns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 3rem;
}
/* Header */
.logo {
  height: 3rem;
}
.header-dropdowns-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  cursor: initial;
  padding-right: 1.25rem;
}
.header-dropdown > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.8;
  gap: 0.6rem;
  cursor: pointer;
}
.header-dropdown-arrow-icon {
  position: absolute;
  right: 0;
  height: 0.6rem;
}
.header-dropdown-options-container {
  position: absolute;
  bottom: 0;
  transform: translateY(115%);
  display: flex;
  visibility: hidden;
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-gray-600);
  padding: 1.4rem;
  border-radius: 0.2rem;
  gap: 1rem;
  font-size: 0.8rem;
  pointer-events: none;
  z-index: 1;
}
.header-dropdown.visible > .header-dropdown-options-container {
  visibility: visible;
  flex-direction: column;
  pointer-events: all;
}
.header-dropdown-option > a {
  cursor: pointer;
}
.header-buttons {
  display: flex;
  gap: 1rem;
}
.header-buttons > * {
  padding: 1rem 2.5rem;
  border-radius: 10rem;
}
.header-login-button {
  opacity: 0.9;
}
.header-signup-button {
  background-color: rgba(255, 255, 255, 1);
  color: var(--color-primary-red-500);
  font-weight: bold;
}
/* Hero Section */
.section-hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-hero > h1 {
  font-family: var(--font-family-overpass-600);
  font-size: 3.4rem;
}
.section-hero > p {
  opacity: 0.8;
}
.hero-buttons-container {
  display: flex;
  margin-top: 1.4rem;
  gap: 1rem;
}
.hero-buttons-container > .button {
  padding: 1rem 1.6rem;
  border: 0.1rem solid transparent;
  border-radius: 10rem;
  font-weight: bold;
}
.hero-buttons-container > .hero-primary-button {
  color: var(--color-primary-red-500);
  background-color: var(--color-neutral-white);
}
.hero-buttons-container > .hero-secondary-button {
  border-color: var(--color-neutral-white);
}

/* Editor Section */
.section-editor {
  height: 52rem;
  color: var(--color-primary-blue-900);
  padding: 0 var(--x-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  background-image: url(./assets/images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom 100% right -50%;
  background-size: 60%;
  margin-top: 5rem;
}
.section-editor > h2 {
  margin-top: 5rem;
  font-size: 2.5rem;
  font-family: var(--font-family-overpass-300);
}

.editor-content,
.editor-content-sub-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.editor-content {
  gap: 4rem;
}
.editor-content-sub-section > h3 {
  font-family: var(--font-family-overpass-300);
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}
.editor-content-sub-section > p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--color-neutral-gray-600);
  max-width: 50%;
  opacity: 0.8;
}

/* Speed Info Section */
.section-speed {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-speed-circle-illustration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: top 80% left -60%;
}
.section-speed-circle-illustration ~ * {
  position: relative;
  z-index: 1;
}
.section-speed-phone-illustration {
  object-fit: contain;
}
.section-speed-content-container {
  position: relative;
  background-image: linear-gradient(to right, var(--body-background-gradient));
  height: 50%;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--x-padding);
}
.section-speed-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-speed-content > h2 {
  font-family: var(--font-family-overpass-300);
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
.section-speed-content > p {
  font-size: 0.9rem;
  line-height: 1.8rem;
  opacity: 0.8;
}

/* Section Free */
.section-free {
  height: 45rem;
  background-image: url(./assets/images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -60%;
  background-size: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--x-padding);
}
.section-free-content {
  height: 50%;
  width: 50%;
}
.section-free-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-free-content-sub-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-free-content-sub-section > h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-ubuntu-400);
  color: var(--color-primary-blue-900);
  letter-spacing: 0.05rem;
}
.section-free-content-sub-section > p {
  color: var(--color-neutral-gray-600);
  max-width: 90%;
  font-size: 0.9rem;
  line-height: 1.6rem;
  opacity: 0.8;
}

/* Footer */
.footer {
  background-color: var(--color-neutral-gray-900);
  padding: 4rem var(--x-padding);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top-right-radius: 5rem;
  margin-top: 10rem;
}
.footer-nav-links-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-nav-links-options-container p {
  cursor: pointer;
}
.footer-nav-links-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-nav-links-options-container > p {
  font-size: 0.9rem;
  opacity: 0.6;
}

/* Transition */
.header-dropdown > a {
  transition: opacity 0.25s ease;
}
.header-signup-button,
.hero-buttons-container > .hero-primary-button {
  transition: color 0.25s ease, background-color 0.25s ease;
}
.hero-buttons-container > .hero-secondary-button {
  transition: color 0.25s ease, background-color 0.25s ease;
}

/* Hover */
@media (pointer: fine) {
  .header-dropdown > a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .header-dropdown-option > a:hover {
    font-weight: bold;
  }
  .header-signup-button:hover,
  .hero-buttons-container > .hero-primary-button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .hero-buttons-container > .hero-secondary-button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-primary-red-500);
  }
  .footer-nav-links-options-container > p:hover {
    text-decoration: underline;
  }
}

/* Active */
.header-dropdown > a:active {
  opacity: 1;
  text-decoration: underline;
}
.header-dropdown-option > a:active {
  font-weight: bold;
}
.header-signup-button:active,
.hero-buttons-container > .hero-primary-button:active {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero-buttons-container > .hero-secondary-button:active {
  background-color: rgba(255, 255, 255, 1);
  color: var(--color-primary-red-500);
}
.footer-nav-links-options-container > p:active {
  text-decoration: underline;
}

/* Mobile */
.toggle-navbar-button {
  display: none;
}
@media (max-width: 1024px) {
  #root {
    --x-padding: 10vw;
    text-align: center;
  }
  .header-hero-wrapper {
    background: linear-gradient(to bottom, var(--hero-background-gradient));
  }
  .header-hero-bg-pattern {
    background-position-x: 35%;
    background-position-y: 35%;
    background-size: 350%;
    background-image: url(./assets/images/bg-pattern-intro-mobile.svg);
  }
  .toggle-navbar-button {
    display: block;
  }
  .header-nav-dropdowns-container,
  .header-buttons {
    display: none;
  }
  .logo {
    height: 2rem;
  }
  .section-hero > h1 {
    font-size: 2rem;
  }
  .hero-buttons-container > .button {
    padding: 0.8rem 1.4rem;
  }
  /* Editor Info Section */
  .section-editor {
    background-position-y: 16%;
    background-position-x: 50%;
    background-size: 100%;
    background-image: url(./assets/images/illustration-editor-mobile.svg);
    gap: 24rem;
    height: 78rem;
  }
  .section-editor > h2 {
    font-size: 1.8rem;
  }
  .editor-content-sub-section {
    align-items: center;
  }
  .editor-content-sub-section > p {
    max-width: unset;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
